<h1>[Large] A blogging platform</h1>
<h3> You have a lot to say, you require a large space </h3>

{{!-- <button id ="login">Sign Up/Login</button> <br><br>
 --}}
 <a href ="/auth/login">Sign Up/Login</a>

 <hr><br>

<div>
  <a href='#'>Home</a>
  <a href='#'>Profile</a> <br><br>
</div>

<div class ='userPost'>
Name: {{name}} <br>
Post: {{post}} <br>
Date: {{date}} <br>
</div>

{{#each user}}
<div class ='userPost'>
Name: {{name}}
Post: {{post}}
Date: {{date}}
</div>

{{/each}}
