<h1>{{user.user.name}} Home Page</h1>
<section class="get">

{{!-- <button>New Post</button>
 --}}
  <h6>Access Token: {{user.access_token}}</h6>
  <h5>Your current user name is: {{user.sessionId}}</h5>
  <div class="userPost">
  {{#each user.post.post}}
    <ul>
      <li>Title: {{user.post.title}}</li>
      <li>Content: {{user.post.post.content}}</li>
      <button id="edit" data-id="{{user.access_token}}">Edit</button>
      <button id="delete">Delete</button>
    </ul>
  {{/each}}

   </div>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input class="titleText" id="input_text" type="text" data-length="50">
            <label for="input_text">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea contentText" data-length="1000"></textarea>
            <label for="textarea1">Content</label>
          </div>
        </div>
      </form>
    </div>

  <button id ="submit" class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

<a href="/auth/logout">LOGOUT</a>
</section>
