
<h1>{{user.user.name}} Home Page</h1>

<script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>

<a class="right" href="/auth/logout">LOGOUT</a>
<div>
  <div><span style="font-size: 100px"><b>[Large]</b></span><span class="right" style="font-size: 50px; margin-top: 50px">{{user.name}}</span></div>
</div>
<button id="newPostBtn" class="btn waves-effect waves-light">New Post</button>

<section class="get">
  <section id="newPostCard" class="card blue-grey lighten-5" style="display:none; margin: 50px 100px 0 100px">


{{!-- <button>New Post</button>
 --}}
  <h6>Access Token: {{user.access_token}}</h6>
  <h5>Your current user name is: {{user.sessionId}}</h5>
  <div class="userPost">
  {{#each user.post}}
    <ul>
      <li>Title: {{post.title}}</li>
      <li>Content: {{post.content}}</li>
      <button id="edit" data-id="{{user.access_token}}">Edit</button>
      <button id="delete">Delete</button>
    </ul>
  {{/each}}

   </div>




      <div class="row card-content">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input class="titleText" id="input_text" type="text" data-length="50">
              <label for="input_text">Title</label>
            </div>

          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea contentText" data-length="1000"></textarea>
              <label for="textarea1">Content</label>
            </div>
          </div>
        </form>
      </div>

    <button id ="submit" class="btn waves-effect waves-light right" type="submit" name="action">Submit
    </button>
    <button id ="cancel" class="btn waves-effect waves-light" type="cancel" name="action">Cancel
    </button>
  </section>
   <script>

  $('#newPostBtn').on("click", function(evt){
    $("#newPostCard").css("display", "")
    console.log("clicked")
  })

  $('#cancel').on('click', function(evt){
    $('#newPostCard').css('display', "none")
  })

  </script>


  <ul class="center card blue-grey lighten-3" style="margin: 50px 100px 50px 100px">
    <li>Name: {{login}}</li>
    <li>Post: {{post}}</li>
    <button id="edit" class="btn waves-effect waves-light">Edit</button>
    <button id="delete" class="btn waves-effect waves-light">Delete</button>
  </ul>

 <ul class="center card blue-grey lighten-3" style="margin: 50px 100px 50px 100px">
  <li>Name: {{login}}</li>
  <li>Post: {{post}}</li>
  <button id="edit" class="btn waves-effect waves-light">Edit</button>
  <button id="delete" class="btn waves-effect waves-light">Delete</button>
</ul>

  {{#each post}}
  <ul class="center card blue-grey lighten-3" style="margin: 50px 100px 50px 100px">
    <li>Title: {{title}}</li>
    <li>Post: {{post}}</li>
    <button id="edit" class="btn waves-effect waves-light">Edit</button>
    <button id="delete" class="btn waves-effect waves-light">Delete</button>
  </ul>
  {{/each}}

</section>
